.showcase-app-main-container {
    font-size: 10px;
    color: white;
}

.showcase-app-paragraph {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    color: inherit;
}

.showcase-app-header-title {
    font-family: 'Mukta', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    line-height: 1;
    margin-top: 10px;
    letter-spacing: 2px;
    color: inherit;
    text-transform: uppercase;
}

.text-align-center {text-align: center;}
.text-align-left {text-align: left;}