.app-window {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0%;
    left: 20%;
    border: 1px solid pink;
    margin-inline: auto;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 32px 11px rgba(0,0,0,0.5);
}

.maximized-app-window {
    border: none;
    border-radius: 0px;
}

.window-header {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    height: 35px;
    color: white;
    background-image: linear-gradient(90deg, #3f3550, #523a54);
}

.window-controls {
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;
    height: 100%;
}

.window-content {
    background-image: linear-gradient(45deg, #1d1d1d, #3d3d3d);
    height: 100%;
}

#square-button {
    display: block;
    aspect-ratio: 1 / 1;
    width: 13px;
    border: 1px solid;
}

#dismiss-button {
    display: block;
    aspect-ratio: 1 / 2;
    width: 15px;
    height: 2px;
    background-color: white;
}

.window-control-button {
    padding: 15px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: default;
    background-color: transparent;
    transition: all 0.2s ease;
    border-color: white;
    --hover-color: rgba(255, 255, 255, 0.1);
    --click-color: rgba(255, 255, 255, 0.2);;
    height: 100%;
    user-select: none;
}

.window-close-button {
    --hover-color: rgb(210, 0, 0);
    --click-color: rgb(150, 0, 0);
}

.window-control-button:hover {
    background-color: var(--hover-color);
}

.window-control-button:hover:active {
    transition: none 0.3s ease;
    background-color: var(--click-color);
}