.chloe-container {
    position: absolute;
    /* pointer-events: none; */
    /* z-index: -1; */
    max-width: 500px;
    bottom: -5px;
    right: 0;
}

.chloe-image {
    max-width: 150px;
    /* height: 100px; */
}

.absolute-position-chloe {
    position: absolute;
    bottom: 0px;
    right: 0;
    display: block;
}

.expression-container {
    width: 150px;
    height: 230px;
}

.expression-container > img {
    position: absolute;
}

.text-container {
    position: absolute;
    bottom: 100%;
    right: 40%;
    width: 200px;
    height: 155px;
    isolation: isolate;
}

.speech-bubble {
    display: flex;
    flex-direction: column;
    padding-inline: 20px 10px;
    padding-block: 20px;
    align-items: center;
    justify-content: center;
    bottom: 70px;
    right: 0px;
    aspect-ratio: 18/14;
    width: 200px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    letter-spacing: -1px;
    user-select: none;
}

.text-container::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    left: -8%;
    top: 0px;
    background-image: url('/Imgs/Images/Speech.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    z-index: -1;
}

.absolute-position-text {
    position: absolute;
    top: 0%;
    left: 0%;
}