div.Desktop-Icon-Container
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
    filter: backdrop-shadow;
    isolation: isolate;
}

div.Desktop-Icon-Container > h1 {
    font-family: "Segoe UI";
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
    /* -webkit-text-stroke: #000 0.01px; */
    font-size: 0.8em;
    user-select: none;
}

div.Desktop-Icon-Container > img {
    width: 80%;
}

div.Desktop-Icon-Container::after
{
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    z-index: -1;
}

div.Desktop-Icon-Container:hover::after
{
    background-color: rgba(255, 255, 255, 0.15);
}

div.Selected-Desktop-Icon-Container::after
{
    background-color: rgba(255, 255, 255, 0.2);
}