#surface-background
{
    position: relative;
    height: 100vh;
    background-image: url("Imgs/background.png");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.05fr;
    overflow: hidden;
    isolation: isolate;
}

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI"), url("/src/fonts/SEGOEUI.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI Light";
    src: local("Segoe UI Light"), url("/src/fonts/SEGOEUI\ LIGHT.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik Bold";
    src: local("Rubik Bold"), url("/src/fonts/RUBIK\ BOLD.ttf") format("truetype");
}

@font-face {
    font-family: "Mukta";
    src: local("Mukta SemiBold"), url("/src/fonts/MUKTA\ SEMIBOLD.ttf") format("truetype");
}