.taskbar-container
{
    list-style: none;
    background-image: linear-gradient(90deg, #3f3550, #523a54);
    border-radius: 7px 7px 0px 0px;
    width: fit-content;
    padding-inline: 4px;
    padding-block: 4px 2px;
    z-index: 3;
}

#taskbar-container
{
    display: grid;
    grid-template-areas: "left mid right";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: end;
}

#taskbar-container > .taskbar-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#background-apps {grid-area: right;}
.mid-grid-area{grid-area: mid;}
.center-grid{justify-self: center;}