:root {
    --accent-color: #d0b3d5;
}

.Taskbar-App > img.Taskbar-App-Main-Icon
{
    max-width: 25px;
    transition: none 0.09s ease;
    transition-property: transform, filter, border-radius;
}

.Taskbar-App:active > img.Taskbar-App-Main-Icon
{
    transform: scale(0.85);
}


.Windows-Taskbar-Icon:active > img.Taskbar-App-Main-Icon
{
    border-radius: 4px;
    filter: hue-rotate(20deg) brightness(80%) saturate(3.5);
}

.Taskbar-App {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
}

.Taskbar-App::before
{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.05);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0);
    pointer-events: none;

    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.09s ease-in-out;
    transition-property: opacity, transform, border-color;
}

.Taskbar-App:hover::before
{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    border-color:rgba(255, 255, 255, 0.05);
}

.Taskbar-App::after
{
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #93909f;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 1px solid;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    transition: none 0.3s ease;
    transition-property: width, height, border-width;
}

.Open-Taskbar-App::after
{
    width: 4px;
    height: 1.35px;
    border-width: 1px;
}

.Focused-Taskbar-App::after
{
    background-color: var(--accent-color);
    width: 16px;
}