.settings-app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* size: 0px; */
    /* height: 50px; */
    /* max-height: 50px; */
    height: 100%;
    width: 100%;
    max-width: 50px;
    
    /* max-height: 70px; */
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
    isolation: isolate;
    font-size: 10px;
}

.settings-app-container > img {
    max-width: 100%;
    transition: transform 0.15s ease;
    margin-bottom: 20px;
}

.settings-app-container > p {
    position: absolute;
    bottom: 0px;
    white-space: nowrap;
    font-family: 'Segoe UI Light';
    font-weight: 100;
    font-size: 1.3em;
    text-align: center;
    /* margin-top: auto;
     */
}

.settings-app-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.05);
    aspect-ratio: 1 / 1;
    width: 200%;
    border-radius: 5px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.09s ease-in-out;
    transition-property: opacity, transform, border-color;
}

.settings-app-container:hover::before {
    opacity: 1;
}

.settings-app-container:hover:active::before {
    background-color: rgba(255, 255, 255, 0.045);
}

.settings-app-container:hover:active > img {
    transform: scale(0.85);
}